@model Dictionary<string, List<DadJokes.Models.DisplayJoke>>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        @if (Model["shortJoke"].Count > 0)
        {
            <div>
                <p>These are the short jokes matching your search:</p>
                @foreach (var joke in Model["shortJoke"])
                {
                    <p>@joke.HighlightContent</p>
                }
            </div>
        }
        @if (Model["midJoke"].Count > 0)
        {
            <div>
                <p>These are the mid-length jokes matching your search:</p>
                @foreach (var joke in Model["midJoke"])
                {
                    <p>@joke.HighlightContent</p>
                }
            </div>
        }
        @if (Model["longJoke"].Count > 0)
        {
            <div>
                <p>These are the long jokes matching your search:</p>
                @foreach (var joke in Model["longJoke"])
                {
                    <p>@joke.HighlightContent</p>
                }
            </div>
        }
    </div>

