@model Dictionary<string, List<DadJokes.Models.DisplayJoke>>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        @if (Model["shortJoke"].Count > 0)
        {
            <div class="text-center">
                <h3 class="text-primary list-group-item-heading">These are the short jokes matching your search:</h3>
                <ul class="list-group">
                @foreach (var joke in Model["shortJoke"])
                {
                    <li class="list-group-item">@joke.HighlightContent</li>
                }
                </ul>
            </div>
        }
        @if (Model["midJoke"].Count > 0)
        {
            <div class="text-center">
                <h3 class="text-success list-group-item-heading">These are the mid-length jokes matching your search:</h3>
                <ul class="list-group">
                @foreach (var joke in Model["midJoke"])
                {
                    <li class="list-group-item">@joke.HighlightContent</li>
                }
                </ul>
            </div>
        }
        @if (Model["longJoke"].Count > 0)
        {
            <div class="text-center">
                <h3 class="text-danger list-group-item-heading">These are the long jokes matching your search:</h3>
                <ul class="list-group">
                @foreach (var joke in Model["longJoke"])
                {
                    <li class="list-group-item">@joke.HighlightContent</li>
                }
                </ul>
            </div>
        }
    </div>

