@{
    ViewBag.Title = "Home Page";
}



<div>
    @using (Html.BeginForm("ByTerm", "Home"))
    {
        <div class="text-center list-group-item-heading">
            @Html.TextBox("term")
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-default btn-primary">Search By Term</button>
        </div>
    }
    <hr />
    <div class="text-center">
        <p><a class="btn btn-default btn-success" href=@Url.Action("Random")>Random Joke</a></p>
    </div>
</div>